:root {
    --main-font: "Montserrat", sans-serif;
    --secondary-font: "Fraunces", serif;
    --main-size: 14px;
    --main-bold: 700;

    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: var(--main-font);
    font-size: var(--main-size);
    color: var(--Dark-grayish-blue);
}
/* Mobile Designe */

body {
    background-color: var(--Cream);
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main-container {
    width: 90%;
    background-color: var(--White);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & .img-product {
        width: 100%;
        height: 238px;
        background-image: url(./images/image-product-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.info-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
}
.info-container > span {
    font-size: var(--main-size);
    letter-spacing: 4px;
}
.info-product {
    & span {
        font-size: 32px;
        font-family: var(--secondary-font);
        color: var(--Very-dark-blue);
        font-weight: var(--main-bold);
        margin-bottom: 24px;
    }
    & p {
        margin-top: 16px;
        line-height: 22px;
    }
}
.price-info {
    display: flex;
    align-items: center;
    margin-top: 12px;
    
    & span {
        color: var(--Dark-cyan);
        font-size: 32px;
        font-weight: var(--main-bold);
        font-family: var(--secondary-font);
        margin-right: 24px;
    } 
}
.buttom-primary {
    background-color: var(--Dark-cyan);
    color: var(--White);
    text-align: center;
    height: 48px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: var(--main-bold);
}
.buttom-primary:hover {
    cursor: pointer;
    background-color: hsl(159, 35%, 21%);
}
.attribution {
    text-align: center;
    position: absolute;
    bottom: 4px;

    & a {
        color: var(--Dark-cyan);
        text-decoration: none;
        font-weight: 500;
    }
    & a:hover {
        color: hsl(159, 35%, 21%);
        cursor: pointer;
        font-weight: var(--main-bold);
    }
}
/* Table Designe */

@media (min-width: 750px) {
    body {
        height: 100vh;
    }
    .main-container {
        width: 60%;
        display: flex;
        flex-direction: row;

       & .img-product {
            background-image: url(./images/image-product-desktop.jpg);
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }
    .main-container .info-container {
        width: fit-content;
    }
    .attribution {
        display: flex;
        gap: 4px;
    }
}

/* Desktop Designe */

@media (min-width: 1200px) {
    .main-container {
        width: 40%;
    }
}